	/*
  	Flaticon icon font: Flaticon
  	Creation date: 28/07/2016 22:45
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
}
.scroll-container {
  overflow-y: scroll !important;
  scrollbar-width: thin !important;
  scrollbar-color: #000000 #222222 !important; /* Color de la barra y el fondo */
}

/* Estilo de la barra de scroll */
.scroll-container::-webkit-scrollbar {
  width: 8px !important; /* Ancho de la barra */
}

/* Estilo del thumb (barra deslizadora) */
.scroll-container::-webkit-scrollbar-thumb {
  background-color: #000000 !important; /* Color de la barra */
  border-radius: 4px !important; /* Borde redondeado */
}

/* Estilo del thumb al pasar el mouse */
.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #555555 !important; /* Color de la barra al pasar el mouse */
}

/* Estilo del track (fondo) para navegadores no basados en WebKit */
.scroll-container::-webkit-scrollbar-track {
  background-color: #222222 !important; /* Color del fondo */
}

/* Estilo del track (fondo) para navegadores basados en WebKit */
.scroll-container {
  scrollbar-color: #000000 !important; /* Color de la barra */
  scrollbar-width: thin !important;
}


.flaticon-calories:before { content: "\f101"; }
.flaticon-drink:before { content: "\f102"; }
.flaticon-burger:before { content: "\f104"; }
.flaticon-food:before { content: "\f106"; }
.flaticon-protein:before { content: "\f109"; }
.flaticon-carbohydrate:before { content: "\f10e"; }